<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Pessoas</title>
    <style>
      body {
        font-family: Arial;
        max-width: 700px;
        margin: 40px auto;
      }
      input,
      button {
        padding: 8px;
        margin: 6px 0;
      }
      .card {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 8px;
        margin-top: 8px;
      }
    </style>
  </head>
  <body>
    <h1>Cadastro de Pessoas</h1>

    <!-- Formulário para cadastrar -->
    <form action="/pessoas-form" method="post">
      <div>
        <label>ID</label><br />
        <input name="id" type="number" required />
      </div>

      <div>
        <label>Nome</label><br />
        <input name="nome" type="text" required />
      </div>

      <div>
        <label>Idade</label><br />
        <input name="idade" type="number" required />
      </div>

      <button type="submit">Cadastrar</button>
    </form>

    <hr />

    <h2>Lista de Pessoas</h2>

    <!-- Botão para carregar -->
    <button onclick="carregarPessoas()">Mostrar pessoas</button>

    <!-- Container onde vamos colocar os dados -->
    <div id="lista"></div>

    <script>
      async function carregarPessoas() {
        const listaDiv = document.getElementById("lista");

        listaDiv.innerHTML = "Carregando...";

        try {
          const response = await fetch("/pessoas");
          const pessoas = await response.json();

          listaDiv.innerHTML = "";

          pessoas.forEach((p) => {
            const card = document.createElement("div");
            card.className = "card";

            card.innerHTML = `
            <strong>ID:</strong> ${p.id}<br>
            <strong>Nome:</strong> ${p.nome}<br>
            <strong>Idade:</strong> ${p.idade}
          `;

            listaDiv.appendChild(card);
          });
        } catch (err) {
          listaDiv.innerHTML = "Erro ao carregar pessoas";
        }
      }
    </script>
  </body>
</html>
